input[type="number"] {
  width: 150px;
  height: 20px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  border: 1px solid rgb(3, 52, 8);
}

input[type="submit"] {
  margin-top: 20px;
  width: 100px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: rgb(3, 52, 8);
  color: white;
}

.form-container {
  width: 50vh;
  border: 1px dotted rgb(3, 52, 8);
  color: rgb(3, 52, 8);
  padding: 30px;
  margin: 40px auto;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  width: 100vh;
}
